/* CSS RESET */
@import url(href= "https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: border-box; }

.blue-bg, .masthead {
  background-color: #033e66; }

.base-positioning, .masthead, .outer-container {
  top: 0;
  left: 0;
  width: 100%; }

.header-background-positioning, .masthead-bg, .overlayc {
  top: 0;
  right: 0;
  width: 100%;
  height: 90vh; }

/* colors */
/* font-size */
/* font-weight */
body, h1, h2, h3, h4, div, p {
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* for firefox font */ }

.title, .inner-container-narrow .section-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.1;
  text-transform: uppercase; }

.paragraph, .inner-container-narrow .description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4; }

.masthead {
  position: relative; }

.outer-container {
  height: 100%;
  position: absolute;
  text-align: center; }

.inner-container-narrow {
  max-width: 370px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  margin: 0 auto; }
  .inner-container-narrow .section-title {
    color: #ade1f9;
    padding-bottom: 30px; }
  .inner-container-narrow .description {
    color: #fff; }

.masthead-bg {
  position: relative;
  background: url("../images/home-hero-small.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3; }

.overlayc {
  position: absolute;
  background: url("../images/overlay-c.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3;
  opacity: 0.5; }

.image-2 {
  height: 500px;
  width: 33%;
  background: url("../images/325-Lex-AD-E7-UNCROPPED.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3;
  float: left;
  background-width: 33%;
  position: relative; }

.button, .jumbo-button, .light-button {
  background: #123456;
  border-radius: 8px;
  color: white;
  display: inline-block;
  padding: 5px;
  text-decoration: none; }

.jumbo-button {
  padding: 35px; }

.light-button {
  background: #05101a; }

nav ul {
  background: black;
  margin: 0;
  padding: 0;
  list-style: none; }

nav li {
  display: inline-block; }

nav a {
  color: #ffffff;
  display: inline-block;
  padding: 10px 16px;
  text-decoration: none; }

nav a:hover {
  background-color: #16a885; }

.panel, .little-panel, .big-panel {
  border: 3px solid blue;
  background-color: lightgreen;
  margin: 10px; }

.little-panel {
  font-size: 20px;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.big-panel {
  font-size: 30px;
  padding: 20px; }
