/* CSS RESET */
@import url(href= "https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: border-box; }

.blue-bg, .masthead {
  background-color: #033e66; }

.base-positioning, .main-nav, .masthead, .outer-container {
  top: 0;
  left: 0;
  width: 100%; }

.header-background-positioning, .masthead-bg, .overlayc {
  top: 0;
  right: 0;
  width: 100%;
  height: 90vh; }

/* colors */
/* font-size */
/* font-weight */
body, h1, h2, h3, h4, div, p {
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* for firefox font */ }

.title, .inner-container-narrow .section-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.1;
  text-transform: uppercase; }

.paragraph, .inner-container-narrow .description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4; }

.nav-bg, .main-nav {
  background: #0d212b;
  background: -moz-linear-gradient(top, #0d212b 0%, rgba(13, 33, 43, 0.93) 36%, rgba(13, 33, 43, 0.7) 68%, rgba(13, 33, 43, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #0d212b), color-stop(36%, rgba(13, 33, 43, 0.93)), color-stop(68%, rgba(13, 33, 43, 0.7)), color-stop(100%, rgba(13, 33, 43, 0)));
  background: -webkit-linear-gradient(top, #0d212b 0%, rgba(13, 33, 43, 0.93) 36%, rgba(13, 33, 43, 0.7) 68%, rgba(13, 33, 43, 0) 100%);
  background: -o-linear-gradient(top, #0d212b 0%, rgba(13, 33, 43, 0.93) 36%, rgba(13, 33, 43, 0.7) 68%, rgba(13, 33, 43, 0) 100%);
  background: -ms-linear-gradient(top, #0d212b 0%, rgba(13, 33, 43, 0.93) 36%, rgba(13, 33, 43, 0.7) 68%, rgba(13, 33, 43, 0) 100%);
  background: linear-gradient(to bottom, #0d212b 0%, rgba(13, 33, 43, 0.93) 36%, rgba(13, 33, 43, 0.7) 68%, rgba(13, 33, 43, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d212b', endColorstr='#0d212b', GradientType=0 ); }

.main-nav {
  font-size: 14px;
  font-weight: 700;
  height: 120px;
  position: fixed;
  z-index: 100;
  text-transform: uppercase; }
  .main-nav ul {
    max-width: 700px;
    margin: auto;
    position: relative; }
  .main-nav li {
    display: inline-block;
    line-height: 100px; }
  .main-nav .li-left {
    float: left;
    margin-left: 30px; }
  .main-nav .li-right {
    float: right;
    margin-right: 30px; }
  .main-nav a {
    display: inline;
    padding: 10px;
    text-decoration: none;
    color: #ade1f9; }
  .main-nav a:hover {
    border-bottom: 1px solid #ade1f9; }
  .main-nav .contact {
    line-height: 100px;
    margin-right: 30px;
    top: 0;
    right: 0;
    text-align: right;
    position: absolute; }
  .main-nav .contact a {
    color: #1aa2de;
    border: 1px solid #1aa2de; }
  .main-nav .logo {
    background: url("../images/logo-secondary.png") no-repeat;
    width: 100px;
    height: 100px;
    background-size: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    margin-top: 10px; }
  .main-nav .home-link {
    padding: 0px;
    border: none; }

@media all and (min-width: 0\0) and (min-resolution: 0.001dpcm) {
  .main-nav {
    background: #0d212b; } }

.button-bg, .button {
  background: rgba(20, 65, 86, 0.8); }

.button-style, .button {
  width: 200px;
  height: 50px;
  line-height: 50px;
  color: #1aa2de;
  border: 2px solid #1aa2de;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center; }

.button {
  margin: auto;
  margin-top: 40px; }
  .button .button a {
    text-decoration: none; }

.button:after {
  content: "";
  width: 50px;
  height: 50px;
  margin-top: -2px;
  margin-left: 20px;
  background: url("../images/carret.svg") no-repeat center center;
  background-size: 35px 35px;
  background-color: #1aa2de;
  display: inline-block;
  position: absolute; }

/* styling for header content */
.masthead {
  position: relative; }

.outer-container {
  height: 100%;
  position: absolute;
  text-align: center; }

.inner-container-narrow {
  max-width: 370px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  margin: 0 auto; }
  .inner-container-narrow .section-title {
    color: #ade1f9;
    padding-bottom: 30px; }
  .inner-container-narrow .description {
    color: #fff; }

.masthead-bg {
  position: relative;
  background: url("../images/home-hero-small.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3; }

.overlayc {
  position: absolute;
  background: url("../images/overlay-c.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3;
  opacity: 0.5; }

.image-2 {
  height: 500px;
  width: 33%;
  background: url("../images/325-Lex-AD-E7-UNCROPPED.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3;
  float: left;
  background-width: 33%;
  position: relative; }

.jumbo-button {
  padding: 35px; }

.light-button {
  background: #05101a; }

.panel, .little-panel, .big-panel {
  border: 3px solid blue;
  background-color: lightgreen;
  margin: 10px; }

.little-panel {
  font-size: 20px;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.big-panel {
  font-size: 30px;
  padding: 20px; }
